<table class="table table-striped table-inverse">
  <thead>
  <tr><th>vin </th>
    <th>make</th>
    <th>model</th>
    <th>year</th>
    <th>redlineRpm</th>
    <th>maxFuelVolume</th>
    <th>lastServiceDate</th>
  </tr>
  </thead>
<tbody>
<tr *ngFor="let vehs of veh">
  <td><a [routerLink]="['/vehicles',vehs.vin]">{{vehs.vin}}</a></td>
  <td>{{vehs.make}}</td>
  <td>{{vehs.model}}</td>
  <td>{{vehs.year}}</td>
  <td>{{vehs.redlineRpm}}</td>
  <td>{{vehs.maxFuelVolume}}</td>
  <td>{{vehs.lastServiceDate}}</td>
  </tr>
</tbody>
</table>
